body{
	padding: 0px;
	margin: 0px;
	height: 100vh;
	font-family: 'Microsoft JhengHei'!important;
}
a{
	color: #cc2900;
}
a:hover{
	color: #cc2900;
}
table .task_table_text{
	text-align: center!important;
}
.home{
	padding: 0px;
	height: 100vh!important;
}
.home_menu{
	border-radius: 0px!important;
	height: 100vh;
    font-family: 'Microsoft JhengHei'!important;
}
.home_menu .item{
	font-size: 16px;
}
.ui.teal.label, .ui.teal.labels .label {
    background-color: orange!important;
    border-color: orange!important; 
    color: #FFF!important;
}
.task_table_content, .task_add_content{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100vh;
}
.task_table_link_content{
	padding: 10px;
	font-size: 25px!important;;
	font-family: 'Microsoft JhengHei'!important;
}
.task_table_link_user{
	float: right;
}
.task_table_link_msg{
	padding-top: 10px;
	font-size: 18px;
}
.task_table_link_msg{
	color: #999;
}
.task_menu_message{
	visibility: hidden;
}
.task_table_msg_box{
	border-style: solid;
	border-color: #DDD;
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px
}
.task_table_link_btn{
	
}
.dropdown{
	width: 90px;
}
.task_table_fail{
	text-align: center;
}
button{
	 font-family: 'Microsoft JhengHei'!important;
}

#mbutton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:20;
    cursor: pointer;
}
.star_rating_count{
	padding-top: 10px!important;
}
.web_table{
		visibility: visible!important;
		height: 0px!important;
}
.mobile_table{
	visibility: hidden!important;
	height: 0px!important;
}
@media only screen and (max-device-width: 480px) {
	table thead{
		visibility: hidden!important;
		height: 0px!important;
	}
	.web_table tbody{
		visibility: hidden!important;
		height: 0px!important;
	}
	.mobile_table{
		visibility: visible!important;
		height: auto!important;
	}

}